 <!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<style>
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

</style>
<body>
    <section ><div class="sidebar ">
		
        	<video autoplay muted loop id="myVideo">//checking the push
                    <source src="../static/main.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                  <ul>
                        <li ><a href="/main/matches" data-text="user login">MATCHES AND SCORES</a> </li>
                        <li ><a href="/main/news" data-text="admin login">LATEST NEWS</a> </li>
                        <li ><a href="/main/form">FORM ANALYSIS</a> </li>
                    </ul>
        </div>
        
        </section>
</body>
</html>





