<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <h1 style="text-align:center">MATCHES</h1><hr/><br/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
		function postdata(id){
            console.log(id);
            window.location.href = "/main/score/" + id
		}
     
	</script>
</head>
<body>
 
    <h2>CURRENT MATCHES</h2><br/>
    <h3>MATCH               |            TYPE             |         TOSS</h3>
    <ol>
    {% for match in curr %}
        <li><button id={{match[0]}} onclick="postdata(this.id)">{{match[1] + " | " + match[2] + " | " + match[3]}}</button></li>
    {% endfor %}
    </ol>
    
    <br/><hr/><br/>
   
    <h2>UPCOMING MATCHES</h2><br/>
    <h3>MATCH               |            TYPE             |         DATE/TIME</h3>
    <ul>
    {% for match in upc %}
        <li>{{match[1] + " | " + match[2] + " | " + match[3]}}</li>
    {% endfor %}
    </ul>

</body>
    </html>