<!DOCTYPE html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../css/index.css"/>
        <h1 style="align-content: center"> Match: {{match[1]}} </h1><hr/><br/><br/> 
    </head>
    <body>
            <div class="rca-medium-widget rca-padding rca-live-season rca-top-border">
        <h2> Live score </h2><br/>
        <h3> {{team_sc[0]}} </h3><br/>
        <h3> {{team_sc[1]}} </h3><br/><br/>
        </div>
    </body>
</html>